# Python Assisgnment

In [47]:
# Question 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between
# 1000 and 2200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line. 

# Steps
#1. find the numbers between range 1000 and 2201
#2. find the numbers in this range that are divisible by 7
#3. pick up only the numbers that are not divisible by 5 from #2 above.

answer = [i for i in range(1000, 2201) if i % 7 == 0 and i % 5 ==1]
answer

[1001,
 1036,
 1071,
 1106,
 1141,
 1176,
 1211,
 1246,
 1281,
 1316,
 1351,
 1386,
 1421,
 1456,
 1491,
 1526,
 1561,
 1596,
 1631,
 1666,
 1701,
 1736,
 1771,
 1806,
 1841,
 1876,
 1911,
 1946,
 1981,
 2016,
 2051,
 2086,
 2121,
 2156,
 2191]

In [2]:
# Question 2 -  Write a Python program to accept the user's first and last name and then getting them printed 
# in the reverse order with a space between first name and last name. 

  # Steps
  #1. Collect first name
  #2. Collect last name
  #3. Print names in reverse order with space in between

firstname =input('Enter your first name: ')

lastname =input('Enter your last name: ')
         
print(lastname + ' ' + firstname)

Enter your first name: Oluwasanjo
Enter your last name: ONI
ONI Oluwasanjo

In [9]:
 #3. Write a program to take ten numbers from a user and display the minimum, mean, and maximum of the non-even numbers. 
    
# Steps

#1. Go through the numbers between range 1 and 11
#2. Pick the non-even (old) numbers
#3. Find their sum and length to get their mean
#3. Also find the min. and max.

T = range(1,11)
T = [sum(T) for i in range(1,11) if i % 2 == 1]
T

[55, 55, 55, 55, 55]

In [8]:
T4 = [max(T) for i in range(1,11) if i % 2 ==1]
T4

[5.5, 5.5, 5.5, 5.5, 5.5]

In [33]:
T5 = [min(T) for i in range(1,11) if i % 2 ==1]
T5

[1, 1, 1, 1, 1]